# Web Scraping
beautifulsoup4
lxml
urllib3
requests
selenium
pyperclip
# Image and Text Data Analytics & Visibility
matplotlib
seaborn
Pillow
opencv-contrib-python
opencv-python
wordcloud
# Data Analytics
numpy
pandas
scikit-learn
captcha
openpyxl
xlrd
pytesseract
# Windows API
pywin32
